{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="{% static 'img/logos.png' %}">
  <title>BUMDES</title>
  <link rel="stylesheet" href="{% static 'css/bumdes_index.css' %}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <style>
    ::selection {
      background: yellow; /* Ganti dengan warna yang diinginkan */
      color: black; /* Ganti dengan warna teks yang diinginkan */
    }
    header .head-title h1{
      font-size: 65px;
      font-weight: bold;
      margin-bottom: 20px;
      line-height: 110px;
    }
    header .head-title p{
        font-size: 20px;
        max-width: 780px;
    }
    .content2-card .card-item{
      background-color: white;
      width: 305px;
      padding: 50px 30px;
      text-align: center;
      border-radius: 12px;
    }

    .content3-about h2{
      font-size: 55px;
    }
  </style>
</head>
<body>
  
  <navbar class="navbar">
    <div class="navbar-logo">
      <img src="{% static 'img/logos.png' %}" alt="Logo">
      <span>
        <h5 style="font-size: 12px; background-color: #9eff2e; margin-bottom: -5px; width: fit-content; padding: 0 4px; border-radius: 2px;">BUMDes</h5>
        MitraRinjani
      </span>
    </div>

    <ul class="navbar-menu" id="navbarMenu">
      <li><a href="{% url 'index' %}">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#finance">Finance</a></li>
    </ul>

    <div class="navbar-actions">
      <a href="{% url 'login' %}" target="_blank">Sign In</a>
    </div>

    <button class="navbar-toggler" id="navbarToggler">&#9776;</button>
  </navbar>

  <div class="content1">
    <header>
        <div class="head-title">
            <h5>BUMDES AIKMEL UTARA</h5>
            <h1>Platform Manajemen Keuangan <span>PAMDes</span></h1> <br>
            <p>Dengan hadirnya plaform keuangan PAMDes ini diharapkan meningkatkan transparansi dan akuntabilitas dengan mencatat transaksi secara real-time, memastikan efisiensi dan kepercayaan dalam penggunaan dana desa Aikmel Utara Kecamatan Aikmel - Lombok Timur</p>

            <a href="{% url 'login' %}" target="_blank">Dashboard</a>
            <div class="rekap">

            </div>
            <span id="blur"></span>
        </div>
        <div class="head-img">
            <img src="{% static 'img/bumdes.gif' %}" alt="gambar">
        </div>
    </header>
  </div>

  <div class="content2">
    <h2><span>Nilai Lebih</span> dari Platform Keuangan BUMDes</h2>

    <div class="content2-card">
      <div class="card-item">
        <ion-icon name="leaf" id="icon"></ion-icon>

        <h4>Transparansi</h4>
        <span>Setiap transaksi dapat dipantau secara real-time</span>
      </div>
      
      <div class="card-item">
        <ion-icon name="leaf" id="icon"></ion-icon>

        <h4>Efisiensi</h4>
        <span>Mengurangi beban administrasi</span>
      </div>

      <div class="card-item">
        <ion-icon name="leaf" id="icon"></ion-icon>

        <h4>Akuntabilitas</h4>
        <span>Mempermudah audit dan pengawasan</span>
      </div>

      <div class="card-item">
        <ion-icon name="leaf" id="icon"></ion-icon>

        <h4>Terpusat</h4>
        <span>Semua data keuangan tersimpan dalam satu platform</span>
      </div>

    </div>
    
  </div>

  <div class="content3" id="about">
    <div class="img">
      <img src="{% static 'img/about.png' %}" alt="bumdes">
    </div>

    <div class="content3-about">
      <span >About</span>
      <h2>Platform Manajemen Keuangan BUMDes</h2>
      <p>Didedikasikan untuk meningkatkan kesejahteraan dan transparansi melalui solusi keuangan digital terdepan. Dengan fokus pada efisiensi dan akuntabilitas mendukung BUMDes dalam mengelola dan memanfaatkan dana secara optimal untuk Membangun Kesejahteraan Desa.</p>

        <div class="point" style="display: flex; justify-content: space-between; gap: 20px; flex-wrap: wrap; margin-top: 20px;">
          <div class="point1" style="display: flex; flex-direction: column; gap: 10px;">
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Efisiensi dalam Pengelolaan </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Transparansi </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Akuntabilitas </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Keamanan </h6>
            </div>
          </div>

          <div class="point2" style="display: flex; flex-direction: column; gap: 10px;">
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Meningkatkan Perekonomian  </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Memberdayakan Sumberdaya lokal  </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Mengoptimalkan Potensi Desa  </h6>
            </div>
            <div class="point-item" style="display: flex;  align-items: center; gap: 10px;">
              <ion-icon name="checkmark-circle-outline" style="color: #7ce503; border-radius: 50%; font-size: 20px; font-weight: bold;"></ion-icon>
              <h6 style="font-weight: 500; font-size: 15px;">Mendukung Kemandirian Desa  </h6>
            </div>
          </div>
        </div>
    </div>
  </div>

  <div class="content4" id="finance">
    <div class="content4-title">
      <span >Finance</span>
      <h2>Informasi Keuangan Detail dan Terperinci</h2>
    </div>

    <div class="content3-finance">
      <div class="finance-card">
        <div class="finance-item">
          <div class="finance">
            <span>Saldo</span>
            <h3 class="currency">{{saldo}}</h3>
          </div>
          
          <ion-icon name="bookmark" id="icon"></ion-icon>
        </div>
      </div>
      <div class="finance-card">
        <div class="finance-item">
          <div class="finance">
            <span style="color: #74C5FF;">Uang Masuk</span>
            <h3 class="currency">{{masuk}}</h3>
          </div>          
          <ion-icon name="arrow-down-circle" id="icon"></ion-icon>
        </div>
      </div>
      <div class="finance-card">
        <div class="finance-item">
          <div class="finance">
            <span style="color: #FF7474;">Uang Keluar</span>
            <h3 class="currency">{{keluar}}</h3>
          </div>
          <ion-icon name="arrow-up-circle" id="icon"></ion-icon>
        </div>
      </div>
    </div>

    <table style="margin-top: 50px;">
      <thead>
        <tr>
          <th>Nomor</th>
          <th>Tanggal</th>
          <th>Jumlah</th>
          <th>Jenis</th>
          <th>Deskripsi</th>
        </tr>
      </thead>

      <tbody>
        {%for data in datas %}
        <tr>
          <td style="text-align: center;">{{forloop.counter}}</td>
          <td>{{data.tanggal}}</td>
          <td class="currency">{{data.jumlah}}</td>
          <td style="text-align: center;">
            {% if data.jenis == 'masuk' %}
            <span style="background-color: #74C5FF; padding: 8px 16px; border-radius: 50px;">{{data.jenis}}</span>
            {% else %}
            <span style="background-color: #FF7474; padding: 8px 16px; border-radius: 50px;">{{data.jenis}}</span>
            {% endif %}
          </td>
          <td>{{data.deskripsi}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
  </div>


  <div class="content5" id="contact">
    <div class="content5-title">
      <span >Contact</span>
      <h2>Sampaikan Pendapat Anda, Hubungi Kami</h2>
    </div>

    <div class="content5-contact">
      <div class="contact">
        <img src="{% static 'img/logos.png' %}" alt="logo">
        <h3>Platform Manajemen Keuangan BUMDes</h3>
      </div>

      <form action="{% url 'kirim_pesan' %}" method="POST">
        {% csrf_token %}
        <label for="email">EMAIL
          <input type="email" name="email" id="email">
        </label>
        <label for="pesan">PESAN
          <textarea name="pesan" id="pesan"></textarea>
        </label> <br>

        <button type="submit">KIRIM</button>

      </form>
    </div>
  </div>


  <footer>
    <div class="media">
      <p>Ikuti kami di media sosial:</p>
      <div class="media-icon">
        <a href=""><ion-icon name="logo-instagram" id="icon"></ion-icon></a>
        <a href=""><ion-icon name="logo-facebook"id="icon"></ion-icon></a>
        <a href=""><ion-icon name="logo-tiktok" id="icon"></ion-icon></a>
        <a href=""><ion-icon name="logo-twitter" id="icon"></ion-icon> </a>
      </div>
    </div>
    <span>© 2024 BUMDes Maju Sejahtera. Jl. Raya Desa Maju No. 123, Desa Maju, Kabupaten X, Provinsi Y.</span>
  </footer>
  .
  <!-- humburger menu -->
  <script>
    // Toggle navbar menu for mobile
    document.getElementById('navbarToggler').addEventListener('click', function() {
      var navbarMenu = document.getElementById('navbarMenu');
      navbarMenu.classList.toggle('active');
    });
  </script>

  <!-- icon -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

  <!-- mata uang -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const currencyElements = document.querySelectorAll('.currency');
        currencyElements.forEach(function(element) {
            const amount = parseFloat(element.textContent);
            const formattedAmount = new Intl.NumberFormat('id-ID', {
                style: 'currency',
                currency: 'IDR'
            }).format(amount);
            element.textContent = formattedAmount;
        });
    });
</script>
</body>
</html>
